.profileScreen {
  height: 100vh;
  color: #fff;

  .body {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding-top: 8%;
    max-width: 800px;

    h1 {
      font-size: 60px;
      font-weight: 400;
      border-bottom: 1px solid #282c2d;
      margin-bottom: 20px;
    }
    .info {
      display: flex;
      img {
        height: 100px;
      }

      .detailsContainer {
        color: #fff;
        margin-left: 25px;
        flex: 1 1;

        h2 {
          background-color: grey;
          font-size: 15px;
          padding: 15px 15px 15px 20px;
        }

        .plansContainer {
          margin-top: 20px;
          h3 {
            border-bottom: 1px solid #282c2d;
            padding-bottom: 10px;
          }

          .btnSignOut {
            padding: 10px 20px;
            font-size: 1rem;
            margin-top: 5%;
            width: 100%;
            color: #fff;
            background-color: #e50914;
            font-weight: 600;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}
